body{
    background-color: #F8FFDB;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 3rem;
}

.box{
    display: block;
    background-color: aqua;
    display: inline-block;
}

.row{
    
}

.col{
    display: inline-block;
    padding: 6%;
    margin: 1%;
    border-radius: 15%;
    border: solid 0.5rem;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}